.odd {
    background-color:rgb(255, 177, 177);
    font-family: Verdana, DejaVu Sans, sans-serif;
}

.odd.cool {
    font-size: 24px;
}

#two {
    color: rgb(0, 38, 255);
    font-size: 36px;
}

#four {
    background-color: rgb(124, 255, 135);
    font-size: 24px;
    font-weight: bold;
}