body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  font-weight: bold;
  margin-top: 16px;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
}

.button-container {
  background: #e3f4ff;
  margin-top: 8px;
  padding: 10px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  display: block;
  justify-self: center;
}